.site-footer {
  color: v.$light;
  padding-top: 1rem;
  background-color: v.$primary;
}

.site-footer .powered  {
  font-size: 0.875rem;
}
.site-footer .powered a {
  color: #DBDBDB;
}
.site-footer .social-links .button {
  padding: .5rem;
  font-weight: normal;
}

.site-footer .logo img {
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.3));
}