@charset "UTF-8";

// import partials ---
@use "./variables" as v;

// defaults
@import "./base";
@import "./navigation";
@import "./components";
// sections
@import "./hero";
@import "./deals";
@import "./whyus";
@import "./testimonials";
@import "./contactus";
@import "./footer";
